/* Cores da Kovi */
:root {
  --primary-color: #FF355A;
  --secondary-color: #22252C;
  --text-color: #4a4a4a;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: var(--secondary-color);
}

.chat-wrapper {
  bottom: 20px;
  position: fixed;
  right: calc(50% - 200px);
  z-index: 9999;
}

.chat-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 700px;
  overflow: hidden;
  width: 400px;
}

.chat-header {
  background-color: var(--primary-color);
  border-bottom: 1px solid #ccc;
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  text-align: center;
}

.chat-body {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-message h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  font-size: .8rem;
}

.bot-message {
  flex-direction: column;
  justify-content: flex-start;
}

.user-message {
  align-items: flex-end;
  flex-direction: column;
}

.bot-message p,
.user-message p {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 0;
  max-width: 70%;
  text-align: justify;
  word-wrap: break-word;
}

.chat-footer {
  align-items: center;
  background-color: var(--secondary-color);
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.chat-footer input[type="text"] {
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

.chat-footer button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}